{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.6.5"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-export-default-from"
  ],
  "ignore": [
    "src/**/*.test.js",
    "src/**/*.stories.js"
  ]
}
